# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# ML artifacts / outputs
mlruns/
models/
checkpoints/

# Optional
*.log

# Data
data/external
data/raw
data/processed

# Github
.github/

#MLFlow
mlflow.db